<app-navbar></app-navbar>

<div class="productos">
    <div class="formulario">
        <form [formGroup]="formularioProducto">
            Descripcion Producto: <input class="form-control" formControlName="descripcion" type="text" placeholder="Descripcion Producto" required><br>
            Codigo: <input class="form-control" formControlName="codigo" type="number" placeholder="Código del Producto"><br>
            Impuesto:
            <select formControlName="idImpuesto" class="custom-select mr-sm-2" id="inlineFormCustomSelect">
                <option value="0">0</option>
                <option *ngFor="let impuesto of Impuestos" [ngValue]="impuesto._id">{{impuesto.Porcentaje}}</option>
            </select><br>
            Precio: <input min="10" class="form-control" formControlName="precio" type="number" placeholder="Precio"><br>

        </form>
        <button [disabled]="!formularioProducto.valid" (click)="agregarProducto();" type="button" type="button" class="btn btn-success col-12">Agregar Producto </button>
        <button  [disabled]="!formularioProducto.valid" (click)="editar();" type="button" type="button" class=" mt-2 btn btn-warning col-12">Editar Producto </button>
    </div>
</div>

<table class="table table-striped shadow">
    <thead class="thead-dark">
        <tr>

            <th scope="col">Codigo</th>
            <th scope="col">Descripcion</th>
            <th scope="col">Precio</th>
            <th scope="col">Impuesto</th>
            <th scope="col">Accion</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let producto of Productos">
            <td class="ml-2">{{producto.Codigo}}</td>
            <td>{{producto.Descripcion}}</td>
            <td>L. {{producto.Precio}}</td>
            <td>{{producto.IdImpuesto.Porcentaje}} (%)</td>

            <td>
                <a (click)="editarProducto(producto._id);" class="ml-1">Editar</a>
                <a (click)="eliminarProducto(producto._id);" class="ml-1">Borrar</a>
            </td>
        </tr>
    </tbody>
</table>